In [20]:
from scipy import stats
import pandas as pd
import numpy as np

In [21]:
file_glaxo = "C:/Users/admin/Desktop/GLAXO.csv"
glaxo = pd.read_csv(file_glaxo)
glaxo.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [22]:
file_beml = "C:/Users/admin/Desktop/BEML.csv"
beml=pd.read_csv(file_beml)
beml.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42

In [23]:
#percentage
glaxo['gain']=glaxo.High.pct_change(periods=1)
beml['gain']=beml.High.pct_change(periods=1)
glaxo['gain']

0            NaN
1       0.006660
2       0.002470
3       0.006083
4      -0.002418
          ...
1734   -0.019573
1735   -0.005474
1736   -0.002569
1737    0.007726
1738    0.000529
Name: gain, Length: 1739, dtype: float64

In [30]:
glaxo_ci =stats.norm.interval(0.95, loc=glaxo.gain.mean(), scale=glaxo.gain.std())
print('mean at 95% confidence interval is:', np.round(glaxo_ci, 4))

mean at 95% confidence interval is: [-0.0317  0.0325]

In [36]:
beml_ci =stats.norm.interval(0.95, loc=beml.gain.mean(), scale=beml.gain.std())
print('mean at 95% confidence interval is:', np.round(beml_ci, 4))

mean at 95% confidence interval is: [-0.0535  0.0541]

In [37]:
np.round(stats.norm.interval(0.95, loc=1990, scale=2500/np.sqrt(140)), 2)

array([1575.88, 2404.12])

1-sample hypothesis testing

In [76]:
#right tail test
# Given values
x = 130  # Sample mean
m = 120  # Population mean
s = 40   # Standard deviation

# Sample size (you need to provide this)
n = 80

# Degrees of freedom (for a t-distribution, it's usually n - 1)
df = n - 1

# Calculate the CDF for a value of 0.95

In [50]:
#caculate t value
t1 = (x-m)/(s/np.sqrt(n))
t1

2.23606797749979

In [51]:
p = 1-stats.t.cdf(t1,df)
p

0.014084316277010789

In [54]:
#step1: formulate hypothesis
#step2: sample mean, s for sample
#step3: choose test statistic ( t or z)
#step4: caculate test statistic
#step5: get value of p
#step6: compare p with alpha

In [65]:
sample = pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])

In [57]:
m = np.mean(sample)
m

0.45644444444444443

In [58]:
sd = np.std(sample)
sd

0.2006711578185737

In [67]:
t2 = (m-0.3)/(sd/np.sqrt(9)) ##0.3 is the alpha & 9 is n
t2

2.338818086441981

In [70]:
p_value = 1-stats.t.cdf(t2,8) ##8 is df which is n-1
p_value

0.023751626755210364

In [72]:
if p_value < t2:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

In [59]:
# Calculate sample mean
sample_mean = sum(sample) / len(sample)
print("Sample Mean:", sample_mean)

Sample Mean: 0.45644444444444443

In [60]:
# Step 1: Calculate the Mean
mean_value = np.mean(sample)

# Step 2: Calculate the Squared Differences from the Mean
squared_diff = [(x - mean_value) ** 2 for x in sample]

# Step 3: Calculate the Variance
variance = np.mean(squared_diff)

# Step 4: Calculate the Standard Deviation
std_dev = np.sqrt(variance)

print("Mean:", mean_value)
print("Variance:", variance)
print("Standard Deviation:", std_dev)

Mean: 0.45644444444444443
Variance: 0.04026891358024691
Standard Deviation: 0.2006711578185737

In [82]:
sm=4.6
pm=4
sd=3
n=50
z1=(sm-pm)/(sd/np.sqrt(50))
z1

1.4142135623730943

In [83]:
p_value=2*(1-stats.norm.cdf(1.41,loc=0,scale=1))
p_value

0.15853968290678466

In [84]:
if p_value < z1:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

In [85]:
sm=3.3
pm=4
sd=3
n=50
z1=(sm-pm)/(sd/np.sqrt(50))
z1

-1.6499158227686113

In [86]:
p_value=2*(stats.norm.cdf(-1.64,loc=0,scale=1))
p_value

0.10100516694820742

In [87]:
if p_value < z1:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

TWO TAIL TEST

In [90]:
control=pd.Series([91,87,99,77,88,91])
treat=pd.Series([101,110,103,93,99,104])

In [92]:
m1=np.mean(control)
std1=np.std(control)
m2=np.mean(treat)
std2=np.std(treat)
print(m1,m2,std1,std2)

88.83333333333333 101.66666666666667 6.542595475463507 5.153208277913436

In [93]:
stats.ttest_ind(control,treat)

TtestResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803, df=10.0)